## build output
.gradle
build/
bin/

## IDE
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/

## reference sources
net/
com/
META-INF/

## local
.claude
.zed
TODO.md
CLAUDE.md
/notes
